@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 97%;
    --foreground: 224 71% 4%;
    --card: 210 20% 97%;
    --card-foreground: 224 71% 4%;
    --popover: 210 20% 97%;
    --popover-foreground: 224 71% 4%;
    --primary: 200 100% 75%;
    --primary-foreground: 200 100% 10%;
    --secondary: 210 20% 94%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 20% 94%;
    --muted-foreground: 215 16% 47%;
    --accent: 262 100% 62%;
    --accent-foreground: 262 100% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 262 100% 62%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 200 100% 75%;
    --primary-foreground: 200 100% 10%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 16% 57%;
    --accent: 262 100% 62%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 262 100% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
